@font-face {
    font-family: 'Courgette';
    src: url(fonts/Courgette-Regular.ttf);
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fffef4;
}

#container {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

button {
    padding: 20px 80px;
    font-size: x-large;
    width: 100%;
    border: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(161, 142, 117);
    color:rgb(255, 247, 238);
    border-radius: 10px;
}

button:hover {
    background-color: #85735e;
    cursor: pointer;
}

hr {
    height: 5px;
    color: rgb(161, 142, 117);
    background-color: rgb(161, 142, 117);
    border: none;
    margin-bottom: 0;
}

#rng-message {
    font-family: 'Courgette';
    font-style: italic;
    font-size: 240%;
    background-color: rgb(250, 245, 239);
    padding: 15px;
}