body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fffef4;
}

#container {
    margin: 0 auto;
    text-align: center;
}

button {
    padding: 20px 80px;
    font-size: x-large;
    width: 60%;
    margin: 0 auto;
    border: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(161, 142, 117);
    color:rgb(255, 247, 238);
    border-radius: 10px;
}

button:hover {
    background-color: #85735e;
    cursor: pointer;
}

hr {
    height: 5px;
    width: 60%;
    color: rgb(161, 142, 117);
    background-color: rgb(161, 142, 117);
    border: none;
}