@font-face {
    font-family: 'Courgette';
    src: url(fonts/Courgette-Regular.ttf);
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fffef4;
}

h1 {
    width: 50%;
    font-size: 400%;
    font-style: italic;
    color:rgb(95, 84, 69);
    margin: 50px auto;
    text-align: center;
}

#container {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

button {
    padding: 20px 80px;
    font-size: x-large;
    width: 100%;
    border: none;
    font-weight: bold;
    background-color: rgb(161, 142, 117);
    color:rgb(255, 247, 238);
    border-radius: 10px;
    margin-bottom: 10px;
}

button, #rng-message, h1 {
    font-family: 'Courgette';
}

button:hover {
    background-color: #85735e;
    cursor: pointer;
}

hr {
    height: 15px;
    color: rgb(161, 142, 117);
    background-color: rgb(161, 142, 117);
    border: none;
    margin: 0;
}

#rng-message {
    font-style: italic;
    font-size: 240%;
    background-image: url(images/parchment-background.jpg);
    background-attachment: fixed;
    background-color: rgb(250, 245, 239);
    padding: 100px 25px;
}